.kanbanBackground {
  height: 100%;
  padding: 30px;
  overflow-x: auto; /* ← тільки тут */
  background-image: url("../../assets/room10.png");
  background-size: cover;
}

.boardContainer {
  height: 100%;
  display: inline-block; /* 🔥 важливо */
  min-height: 100%;
  padding: 15px;
  /* background-image: url("../../assets/board4.jpg"); */
  background-repeat: repeat;
  background-size: contain;     /* без cover */
  
  border: 10px solid transparent; /* обовʼязково transparent */
  border-radius: 12px;

  background:
    /* внутрішня текстура */
    url("../../assets/board2.jpg") repeat,
    
    /* градієнт рамки */
    linear-gradient(
      145deg,
      #6d511d,
      #72500c,
      #815504
    );

  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.board {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}