.kanbanBackground {
  height: 100%;
  padding: 30px;
  overflow-x: auto;
  background-image: url("../../assets/room10.png");
  background-size: cover;
}

.kanbanBackground {
  scrollbar-color: #72500c rgba(0, 0, 0, 0.1);
}

.boardContainer {
  height: 100%;
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  padding: 15px;

  background-repeat: repeat;
  background-size: contain;

  border: 10px solid transparent;
  border-radius: 12px;

  background:
    url("../../assets/board2.jpg") repeat,
    linear-gradient(145deg, #6d511d, #72500c, #815504);

  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.board {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footerComponentContainer {
  display: flex;
  gap: 16px;
}

.appModeText {
  display: block;
  color: white;
  font-size: 14px;
  opacity: 0.8;
}
